@page "/gameover"
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<h1 style="color:red">Niestety to nie jest poprawna odpowiedź.</h1>
<br/>
<p style="color:orangered">KONIEC GRY</p>
<br />
<img src="images/GameOver_gif.gif" alt="Game Over" style="width:700px; height:auto;" />
<br />
<button class="btn btn-danger" @onclick="StartQuiz">Spróbuj jeszcze raz</button>

@code {

    private async Task StartQuiz()
    {
        await Js.InvokeVoidAsync("localStorage.setItem", "_cookiecategory6", "100");
        NavigationManager.NavigateTo("/question");
    }
}