@page "/gameover"
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<style>
    body {
        background-color: rgba(226, 151, 127, 0.15);
    }
</style>

<h1 style="color:red">Niestety to nie jest poprawna odpowiedź.</h1>
<br />
<p style="color:orangered; font-weight: bold; font-size: 20px;">KONIEC GRY</p>
<br />
<img src="images/GameOver_gif.gif" alt="Game Over" style="width:700px; height:auto;" />
<br />
<button class="btn btn-primary" @onclick="NavigateToWelcome">Spróbuj ponownie</button>

@code {


    private void NavigateToWelcome()
    {
        NavigationManager.NavigateTo("/");
    }
}
