@page "/goodanswer"
@inject NavigationManager NavigationManager

<h1 style="color:green">Brawo, to poprawna odpowiedź!</h1>
<br />
<img src="https://media.giphy.com/media/26gN16cJ6gy4LzZSw/giphy.gif" alt="Congratulations" style="width:650px; height:auto;" />
<br />
<button class="btn btn-success" @onclick="StartQuiz">Następne pytanie</button>

@code {

    private void StartQuiz()
    {
        NavigationManager.NavigateTo("/question");
    }
}
