@page "/rules"
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<style>
    body {
        background-color: rgba(126, 132, 250, 0.2);
    }

    .custom-button {
        padding: 10px 20px;
        font-size: 18px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .custom-button:hover {
            background-color: lightcoral; /* Kolor tła po najechaniu */
            color: black; /* Kolor tekstu po najechaniu */
        }
</style>

<h1>Zasady:</h1>
<br />
<p>Quiz zawiera 7 pytań</p>
<p>Każda kategoria jest punktowana</p>
<p>zła odpowiedź = koniec gry</p>
<p>dobra odpowiedź = krok bliżej do zwycięstwa</p>
<p>Powodzenia!</p>
<br />
<button class="btn btn-primary custom-button" @onclick="StartQuiz">Rozpocznij quiz</button>

@code {

    private async Task StartQuiz()
    {
        await Js.InvokeVoidAsync("localStorage.setItem", "_cookiecategory6", "100");
        NavigationManager.NavigateTo("/question");
    }
}
