@page "/success"
<h1 style="color:green">Brawo, ukończyłeś/aś cały Quiz!</h1>
<br />
<button class="btn btn-primary" onclick="window.location.href='/'" style="padding:15px 30px; font-size:20px;">
    Nowa gra
</button>
